opencv-python
cmake
dlib
tensorflow
scipy
numpy
Pandas
tqdm
h5py
hydra-core
scikit-learn
albumentations
omegaconf
gdown

# repo to get efficientnet models
# reason to use 3rd party
# efficientnet models loaded from qubvel/efficientnet are working properly in opencv dnn
# model trained with official keras efficientnet has issue loading freezed model in opencv
efficientnet
